{%extends 'layout.html'%}
{% load static %}
{%block content%}
  <!--/header-->
  <!--/w3l-inner-page-breadcrumb-->
  <section class="w3l-inner-page-breadcrumb">
    <div class="breadcrumb-bg py-5">
      <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
        <h2 class="title pt-5">Contact Page</h2>
        <ul class="breadcrumbs-custom-path mt-3 text-center">
          <li>Home</li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Pages </li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Contact </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //w3l-inner-page-breadcrumb-->
  <!-- contact1 -->
  
  <!-- footer7 block -->
  {%endblock%}